*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  height: 70px;
  text-align: center;
  font-family: 'Helvetica';
  font-weight: 200;
  letter-spacing: 0.7px;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.26);
}

.links,
.login {
  display: inline-block;
  padding: 20px 30px;
  color: #d44179;
  transition: all 0.3s;
 
}

.links:hover,
.login:hover {
  background:#d44179;
  color: #FFFFFF;
}

.login {
  float: right;

  padding: 20px 30px;
}

